*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100vw;
    height:15vh;
    padding: 0 15px;
    margin: 0 auto;
    background-color: white;
}
.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_item a{
        font-family: 'Montserrat', sans-serif;
        font-size: 2.99vh;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.08em;
        color: #000000;
        text-decoration: none;
        margin-right:3vw;
}
.menu_item f{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.99vh;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #000000;
    text-decoration: none;
    margin-right:3vw;
}
.menu_item a:hover{
    color: red;
 }
 .menu_item f:hover{
    color: red;
 }
.logo {
    margin-left: 0;
    margin-right: 5vw;
    display: flex;
    height:15vh;
}
form {
    position: relative;
    margin: 0 auto;
  }
   input {
    width: 100%;
    height: 2.5vh;
    padding-left: 1.5vw;
    border: 0.1vh solid black;
  }
  input {
    width: 100%;
    height: 2.5vh;
    padding-left: 1.5vw;
    border: 1px solid black;
  }
  button {
    background: transparent;
    border: none;
    outline: none;
    height: 2.5vh;
    width: 4.2vw;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
   }
  button:before {
    content: "\f002";;
    font-family: FontAwesome;
    font-size: 1.6vh;
    color: black;
  }
  input:focus {border-color: #311c24}

 .content {
    background-color:white;
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 55vh;
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
    width:15vw;
 }
 .list {
    padding: 0;
    list-style-type: none;
    margin-top: 1vh;
    margin-bottom:1vh;
    margin-right: 1vw;
    margin-left: 1vw;
    text-align: center;
 }
 .list m{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.99vh;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 0.08em;
    color: #000000;
    text-decoration: none;
 }
 .list a{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    line-height: 1.2;
    font-weight: 200;
    color: #000000;
    text-decoration: none;
 }
 .list a:hover{
    color: red;
 }
 footer {
    height: 8vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }
footer a{
    font-family: 'Montserrat', sans-serif;
font-size: 2.99vh;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.08em;
color: #000000;
text-decoration: none;
}
footer a:hover{
    color: red;
}
@media (max-width: 1100px) {
    .logo{
        display: none;
    }
    .container{
        height:5vh;
    }
    .content{
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        margin-bottom: 60vh;
    }
    .list{
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .menu_item f{
        display:none;
    }
}
@media (max-width: 1400px) {
    .logo {height:8vh}
    .container{
        height:8vh;
        margin-bottom: 17vh;
    }
}